ALPHA_VANTAGE_API_KEY=your_key_here

DATABASE_URL=postgresql://stock_snap:devpassword@localhost:5434/stock_snap

# db for pytest separate from real data.
# docker exec -it stock-snap-db-1 psql -U stock_snap -d stock_snap -c "CREATE DATABASE stock_snap_test;"
TEST_DATABASE_URL=postgresql://stock_snap:devpassword@localhost:5434/stock_snap_test

# get a key at https://platform.openai.com/api-keys
OPENAI_API_KEY=your_key_here
